<main>
  <div class="flex flex-col items-center justify-center px-6 pt-8 mx-auto md:h-screen pt:mt-0 dark:bg-gray-900">
    <a href="<%= chats_path %>" class="flex items-center justify-center mb-8 text-2xl font-semibold lg:mb-10 dark:text-white">
      <%= image_tag "logo-1.png", class: "mr-4 h-11 rounded-full", alt: "Rails Messenger Logo" %>
      <span>Rails Messenger</span>  
    </a>
    <!-- Card -->
    <div class="w-full max-w-xl p-6 space-y-8 sm:p-8 bg-white rounded-lg shadow dark:bg-gray-800">
      <h2 class="text-2xl font-bold text-gray-900 dark:text-white">
        Sign in to platform 
      </h2>
      <p class="notice text-base font-normal text-gray-500 dark:text-gray-400"><%= notice %></p>
      <p class="alert text-base font-normal text-gray-500 dark:text-gray-400"><%= alert %></p>
      <%= render "form" %>
      <div class="text-sm font-medium text-gray-500 dark:text-gray-400">
        Not registered? 
        <%= link_to "Create account", new_user_registration_path, class: "text-primary-700 hover:underline dark:text-primary-500" %>
      </div>
    </div>
  </div>
</main>