<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Chats</h1>
    <%= link_to "New chat", new_chat_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="chats" class="min-w-full">
    <%= render @chats %>
  </div>
</div>

<aside id="separator-sidebar" class="fixed left-0 top-0 z-40 h-screen w-64 -translate-x-full transition-transform sm:translate-x-0" aria-label="Sidebar">
  <div class="h-full overflow-y-auto bg-gray-50 px-3 py-4 dark:bg-gray-800">
    <ul class="space-y-2 border-gray-200 font-medium dark:border-gray-700">
      <li>
        <p class="text-2xl flex rounded-lg p-2 text-gray-900 transition duration-75 dark:text-white">Chats</p>
      </li>
      <li>
        <%= component Form::SearchUserForm %>
      </li>
      <% @chats.each do |chat| %>
        <%= component Data::UserListItem, url: chat_path(chat), name: chat.code, status: :online, avatar_url: "" %>
      <% end %>
    </ul>
  </div>
</aside>