<div class="flex h-screen w-screen">
  <aside id="separator-sidebar" class="fixed left-0  z-40 h-screen w-64 -translate-x-full transition-transform sm:translate-x-0" aria-label="Sidebar">
    <div class="h-full overflow-y-auto bg-gray-50 px-3 py-4 dark:bg-gray-800">
      <ul class="space-y-2 border-gray-200 font-medium dark:border-gray-700">
        <li>
          <p class="text-2xl flex rounded-lg p-2 text-gray-900 transition duration-75 dark:text-white">
            <%= image_tag "logo-1.png", class: "mr-2 h-8 rounded-full", alt: "Rails Messenger Logo" %>
            Chats
          </p>
        </li>
        <div id="friends" >
          <%= render partial: "users/friend", collection: @friends, as: :user %>
        </div>
      </ul>
    </div>
  </aside>

  <div class="flex h-screen w-screen flex-col justify-between sm:ml-64">
    <%= render partial: "chats/chat_header" %>
    <div class="flex flex-col space-y-4 p-3 overflow-y-scroll scrollbar-thumb-blue scrollbar-thumb-rounded scrollbar-track-blue-lighter scrollbar-w-2 scrolling-touch">
      <div class="scrollbar-thumb-blue scrollbar-thumb-rounded scrollbar-track-blue-lighter scrollbar-w-2 scrolling-touch flex flex-col space-y-4 overflow-y-auto p-3">
        <div id="messages" class="flex-col flex mr-4 flex-grow">
          <% if current_chat %>
            <%= turbo_stream_from current_chat %>
            <%= render current_chat.messages %>
          <% else %>  
            <div class="flex place-content-start items-start gap-2.5">
              <p class="py-2.5 text-sm font-normal text-gray-900">No Chat</p>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <%= render "messages/form" if current_chat  %>
  </div>
</div>